 /* GENERAL RESET  */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* VARIABLES  */
 :root {
     --MAINBG-CLR: hsl(220, 41%, 10%);
     --BLACK-CLR: hsl(0, 0%, 0%);
     --WHITE-CLR: rgb(255, 255, 255);
     --LIGHT-WHITE-CLR: rgba(97, 92, 92, 0.331);
     --LIGHT-FILTER: rgba(152, 154, 152, 0.3);
     --LIGHT-TECH-FILTER: rgba(152, 154, 152, 0.553);
     --ABOUT-TEXT-CLR: hsl(0, 1%, 51%);
     --TECH-BG: hsl(220, 57%, 20%);
     --LINEAR-GRD: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
     /* FONT WEIGHT  */
     --FW-400: 400;
     --FW-500: 500;
     --FW-600: 600;
     --FW-700: 700;
     --FW-800: 800;
     --FW-900: 900;
 }

 /* GENERAL STYLING  */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     background: var(--MAINBG-CLR);
     line-height: 1.3;
     font-family: 'Poppins', sans-serif;
 }

 html {
     scroll-behavior: smooth;
 }

 img {
     display: block;
     max-width: 100%;
 }

 /* NAVIGATION  */
 nav {
     z-index: 100;
     padding-block: 4px 10px;
     position: fixed;
     width: 100%;
     background-color: var(--MAINBG-CLR);
 }

 nav {
     border-bottom: 1px solid var(--LIGHT-WHITE-CLR);
 }

 .overlay,
 .open {
     display: none;
 }

 .topnav {
     display: flex;
     justify-content: space-between;
     width: min(100% - 12vw, 1200px);
     margin-inline: auto;
 }

 .logo img {
     cursor: pointer;
     padding-top: 4px;
     width: 40px;
     border-radius: 50%;
 }

 nav a,
 .overlay_content a {
     text-transform: capitalize;
     text-transform: capitalize;
     font-family: Arial, Helvetica, sans-serif;
     color: var(--WHITE-CLR);
 }

 .topnav ul a:hover {
     padding-bottom: 20px;
     border-bottom: 2px solid var(--LIGHT-FILTER);
 }


 .active {
     padding-bottom: 20px;
     border-bottom: 2px solid var(--WHITE-CLR);
 }

 .icon ul a:hover {
     padding-bottom: 20px;
     border-bottom: 2px solid var(--WHITE-CLR);
 }

 nav ul,
 .overlay_content ul {
     padding-top: 12px;
     display: flex;
     align-items: center;
     gap: 3rem;
 }

 nav li,
 .overlay_content li {
     list-style: none;
 }

 nav a,
 .overlay_content a {
     text-decoration: none;
 }

 .icon ul {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 12px;
     padding-top: 20px;
 }

 /* MAIN  */
 main {
     width: min(100% - 12vw, 1200px);
     margin-inline: auto;
     position: relative;
 }

 .about {
     margin-top: 4rem;
 }


 article {
     display: flex;
     align-items: center;
     gap: 4rem;
 }

 .section_about_text {
     width: 780px;
     display: flex;
     flex-direction: column;
     gap: 3px;
 }

 .about h1 {
     font-size: 3rem;
     color: var(--WHITE-CLR);
     text-transform: capitalize;
 }

 .about h3 {
     font-size: 2rem;
     color: var(--WHITE-CLR);
 }

 .name {
     font-weight: 900;
     font-family: cursive;
 }

 .about p {
     color: var(--ABOUT-TEXT-CLR);
     font-size: 1rem;
 }

 .empahSize {
     color: rgb(214, 212, 212);
 }

 .about img {
     border-radius: 20px;
 }

 .about button {
     cursor: pointer;
     border: none;
     outline: none;
     padding: 12px 11px;
     border-radius: 10px;
     border-radius: 9px;
     background: var(--LINEAR-GRD);
     color: var(--WHITE-CLR);
     font-family: inherit;
 }

 .about button:hover {
     filter: brightness(80%);
 }

 .btns {
     margin-top: 10px;
     display: flex;
     gap: 10px;
 }

 .download {
     padding-left: 4px;
     padding-bottom: 6px;
 }

 /* MAIN TECHNOLOGIES  */
 .section_technologies {
     margin-top: 6rem;
 }

 .course h1,
 p {
     color: var(--LIGHT-TECH-FILTER);
     padding-inline: 14px;
     font-family: inherit;
 }

 .course {
     margin-top: 4rem;
     display: flex;
     justify-content: space-between;
 }

 .th_c {
     position: relative;
     width: 100%;
     height: 15px;
     border-radius: 83px;
     background-color: var(--TECH-BG);
     overflow: hidden;
 }

 .th_layer_high {
     position: absolute;
     width: 85%;
     height: 15px;
     top: 0;
     border-radius: 83px;
     background: var(--LINEAR-GRD);
 }

 .th_layer_inter {
     position: absolute;
     width: 65%;
     height: 15px;
     top: 0;
     border-radius: 83px;
     background: var(--LINEAR-GRD)
 }

 .th_layer_beginner {
     position: absolute;
     width: 35%;
     height: 15px;
     top: 0;
     border-radius: 83px;
     background: var(--LINEAR-GRD)
 }

 .technology {
     display: flex;
     flex-direction: column;
     margin-top: -2rem;
 }

 .section_technologies h1 {
     text-transform: capitalize;
     color: var(--WHITE-CLR);
     font-weight: var(--FW-900);
     font-size: 2.5rem;
 }

 /* ADDITONAL TECHNOLOGIES  */
 .add_tech {
     margin-top: 4rem;
 }

 .add_tech h2,
 ul li {
     color: var(--WHITE-CLR);
 }

 .add_tech h2 {
     word-spacing: 10px;
     margin-bottom: 2.5rem;
 }

 .add_tech ul {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;

 }

 /* SECTION PROJECTS  */
 .section_Project {
     margin-top: 5rem;

 }

 .section_Project h1 {
     color: var(--WHITE-CLR);
     margin-bottom: 2rem;
     text-transform: capitalize;
     font-size: 3rem;
 }

 .project_section {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
     gap: 2rem;
 }

 .project img {
     border-radius: 10px;
 }

 .project {
     position: relative;
 }

 .overlap {
     border-radius: 10px;
     position: absolute;
     top: 0;
     transform: scale(0);
     transition: .4s all ease;
     height: 100%;
     width: 100%;
 }

 .project:hover .overlap {
     background-color: hsla(0, 0%, 100%, 0.174);
     backdrop-filter: blur(5px);
     transform: scale(1);
 }

 .overlap_content {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     position: relative;
     top: 50%;

 }

 .overlap_content a i {
     color: var(--WHITE-CLR);
     font-weight: var(--FW-500);
 }

 .black a i {
     color: var(--BLACK-CLR);
 }

 .overlap_content a {
     text-decoration: none;
 }

 .overlap_content i:hover {
     font-weight: var(--FW-700);
 }

 .description {
     color: var(--WHITE-CLR);
     margin-top: 1rem;

 }

 @media screen and (max-width: 768px) {
     .section_about_text h1 {
         font-size: 2.5rem;
     }

     .section_about_text h3 {
         font-size: 1.75rem;
     }
 }


 @media screen and (max-width: 768px) {
     article {
         flex-direction: column-reverse;
     }

     .btns {
         align-items: center;
         justify-content: center;
     }

     .section_about_text {
         text-align: center;
         width: 100%;
     }

     nav ul {
         gap: 2rem;
     }
 }

 @media screen and (max-width: 560px) {
     nav ul {
         display: none;
     }

     nav ul {
         gap: 2rem;
     }

     .all {
         position: absolute;
         width: 100%;
         top: 58px;
         height: 100vh;
         background-color: transparent;
         z-index: 1;
     }

     .overlay {
         z-index: 101;
         width: min(100% - 9vw, 1200px);
         margin-inline: auto;
         display: flex;
         position: fixed;
         justify-content: space-between;
         width: 0;
         overflow: hidden;
         height: 100vh;
         background-color: rgba(13, 22, 46, 0.785);
         backdrop-filter: blur(5px);
         position: fixed;
         right: 0;
         top: 62px;
         transition: .3s all linear;
     }

     .overlay_content {
         position: relative;
     }

     .overlay_content ul {
         flex-direction: column;
         position: absolute;
         left: 60px;
         top: 50px;
         gap: 3rem;
     }

     .open {
         position: fixed;
         z-index: 101;
         top: 20px;
         right: 10px;
         display: block;
         width: 40px;
     }

     .iconSm i {
         color: var(--WHITE-CLR);
         padding-bottom: 10px;
         font-size: 1rem;
     }

     .iconSm {
         top: 40%;
         position: fixed;
     }

     /* MAIN SECTION  */
     main {
         position: relative;
     }

     article {
         flex-direction: column;
         padding-top: 3rem;
     }

     .icon {
         display: none;
     }

     .section_about_text {
         width: 100%;
         text-align: center;
     }

     .section_about_text h1 {
         font-size: 2.5rem;
     }

     .section_about_text h3 {
         font-size: 1.ren;
     }

     .section_about_text p {
         font-size: 14px;
     }

     .btns {
         align-items: center;
         justify-content: center;
     }

     /* TECHNOLOGIES  */
     .course h1,
     p {
         font-size: 14px;
     }

     /* ADDITIONAL TECHNLOGIES  */
     .add_tech ul {
         justify-content: space-between;
     }

     .add_tech ul li {
         list-style-position: inside;
     }

     /* PROJECTS  */
     .project_section {
         grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
     }
 }

 @media screen and (max-width: 480px) {}

 @media screen and (max-width: 375px) {
     .project_section {
         grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
     }
 }

 @media screen and (max-width: 360px) {}

 @media screen and (max-width: 320px) {}